footer#contacto
	.contacto
		img.me(src='assets/img/contacto/Contact-Me.jpg')
		.row
			.col-md-4
				a(href='https://www.facebook.com/hys.mfv', title='facebook')
					img(src='assets/img/contacto/fc.png')
			.col-md-4
				a(href='https://www.linkedin.com/in/magaly-vasquez-1a6968a4', title='linkedin')
					img.in(src='assets/img/contacto/linkedin.png')
			.col-md-4
				a(href='https://twitter.com/MaggyScorpio', title='Twitter')
					img(src='assets/img/contacto/Twitter.png')
		

		.row
			.col-md-4
				a(href='https://github.com/maggy95', title='git')
					img(src='assets/img/contacto/git.png')
			.col-md-4.wssap
					img.netzun(src='assets/img/contacto/wssp.png')
					p 944268964
			.col-md-4
					img.gmail(src='assets/img/contacto/google.png')
					p maggy.floresvasquez@gmail.com