ul#navigation
	li.sobre 
		a(href='#my', title='sobre mi')
			img.my(src='assets/img/menu/yo_icon.png')
	li.habilidades
		a(href='#habilidades', title='Habilidades')
			img.skills(src='assets/img/menu/habilidades.png')
	li.trabajos
		a(href='#works', title='Trabajos')
			img.works(src='assets/img/menu/demo_181.png')
	li.contacto
		a(href='#contacto', title='Contacto')
			img.contact(src='assets/img/menu/16614.png')