section
            #intro
                #my
                    .row
                        .col-md-6
                            img.sobre(src='assets/img/sobre-mi.png')
                        .col-md-6
                            h3 ¿Quien Soy?
                            p 
                                img.star(src='assets/img/star-1.png')
                                | Egresada de Laboratoria y Estudiante de Ing.Sistemas
                            p 
                                img.star(src='assets/img/star-1.png')
                                | Soy una chica autodidacta, capaz de asumir nuevos retos.
                            p 
                                img.star(src='assets/img/star-1.png')
                                | Me encanta aprender de todo un poco.
                            p 
                                img.star(src='assets/img/star-1.png')
                                | Me agrada conocer gente y conocer mas de su mundo.
                            h3 Frase
                            p.frase 
                                img.star(src='assets/img/star-1.png')
                                | Si puedes soñarlo puedes hacerlo.
                    .row
                        .col-md-12 
                            h3.text-center.gustos Cosas que me gustan
                    .row.intereses
                        .col-md-2.col-xs-12.tex-center
                            img(src='assets/img/intereses/viajes.png')
                        .col-md-2.col-xs-12.tex-center
                            img(src='assets/img/intereses/book.png')
                        .col-md-2.col-xs-12.tex-center
                            img(src='assets/img/intereses/cat.png')
                        .col-md-2.col-xs-12.tex-center
                            img(src='assets/img/intereses/escribir.png')
                        .col-md-2.col-xs-12.tex-center
                            img(src='assets/img/intereses/music.png')
                        .col-md-2.col-xs-12.tex-center
                            img(src='assets/img/intereses/playa.png')
        section
            #habilidades
                .habilidades
                    h3.text-center.pregunta  ¿Que es lo que se?
                    .row.first
                        .col-md-2.col-xs-12
                            img(src='assets/img/habilidades/html.png')   
                        .col-md-2.col-xs-12
                            img(src='assets/img/habilidades/css.png')   
                        .col-md-2.col-xs-12
                            img(src='assets/img/habilidades/jade.png')   
                        .col-md-2.col-xs-12
                            img(src='assets/img/habilidades/sass.png') 
                        .col-md-1
                        .col-md-3
                            p Habilidades mas dedicadas al desarrollo web   
                    .row.medio
                        .col-md-2.col-xs-12
                            img.canvas(src='assets/img/habilidades/canvas.png')
                        .col-md-2.col-xs-12
                            img.database(src='assets/img/habilidades/database.png')
                        .col-md-4
                        .col-md-4
                            p Habilidades aprendidas en la universidad
                    .row.second
                        .col-md-2.col-xs-12
                            img(src='assets/img/habilidades/java.png')   
                        .col-md-2.col-xs-12
                            img.c(src='assets/img/habilidades/c++.png')   
                        .col-md-2.col-xs-12
                            img(src='assets/img/habilidades/js.png')

                        .col-md-2.col-xs-12
                            img.as(src='assets/img/habilidades/as4oo.png') 
                        .col-md-1
                        .col-md-3
                            p Habilidades mas orientadas a programacion compleja y sistemas multiusuarios.  
        section.works#works
            section#wsp.bg-spl
                img#works.hidden-xs(src='assets/img/myworks.png')
                .info.hidden-xs
                    .wsp-spl
                        h3 Fashion-Accesories
                        p Pagina web echa en base de jade - sass
                        a(href='https://github.com/maggy95/exmn-individual_fashion-accesories')
                            button(type='button')
                                img(src='assets/img/git.png')
            section#dashy.bg-spl
                .info.hidden-xs
                    h3 Wsp
                    p Nuestro Whastapp hecho con grid-system
                    a(href='https://github.com/maggy95/whatsapp1')
                        button(type='button')
                            img(src='assets/img/git.png')
            section#por.bg-spl 
                .info.hidden-xs
                    h3 La Republica
                    p Plantilla del dicho diario.
                    a(href='https://github.com/maggy95/La-Republica-Examen')    
                        button(type='button')
                            img(src='assets/img/git.png')
            section#diario.bg-spl
                .info.hidden-xs
                    h3 Agency-theme
                    p Pagina hecha en base de jade-sass y ciertas propiedades nuevas en css.
                    a(href='https://github.com/maggy95/agencytheme')
                        button(type='button')
                                img(src='assets/img/git.png')
            section#fashion.bg-spl
                .info.hidden-xs
                    h3 Primes
                    p Aprendimos mas del uso de la propiedad position.
                    a(href='https://github.com/maggy95/Primes5')
                        button
                                img(src='assets/img/git.png')
            section#primes.bg-spl
                .info-p.hidden-xs
                    h3 Dashy
                    p Utilizando mas los complementos de Boostrap.
                    a(href='https://github.com/maggy95/Dashy')
                        button(type='button')
                                img(src='assets/img/git.png')
            section.hidden-sm.hidden-md.hidden-lg.hidden-xl.col-xs-12.images
                img.png(src='assets/img/myworks.png')
                img(src='assets/img/trabajos/erdos.png')
                img(src='assets/img/trabajos/fp.png')
                img(src='assets/img/trabajos/muzi.png')
                img(src='assets/img/trabajos/sp.png')
                img(src='assets/img/trabajos/omegle.png')
                img(src='assets/img/trabajos/backdoor.png')
